p {
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
}

a {
  font-family: Zeyada;
}


/* astDia */
.dia {
  width: 150px;
  height: 70px;
  background-color: blue;
}

.container-landing-page5 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* first page: main-index.html */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-landing-page1 {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Pacifico;
  font-size: xxx-large;
}


/* secon page: intro.html */
.bodydraft2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("grafittibackground2.jpg");
}

.body2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-landing-page3 {
  width: 800px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 10px solid black;
}

.head {
  font-family: Pacifico;
  font-size: xxx-large;
  align-items: center;
}

.container-landing-page4 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 40px;
  background-color: white;
  border: 10px solid black;
}


/* third page: main.html */
.bodydraft {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("grafittibackground.jpg");
  background-position: center;
}

.container-landing-page2 {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* section 1 */
.flex-container-01 {
  display: flex;
}

.box-010 {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid black;
}

.box-011 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: -40px;
  margin-right: -20px;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid white
}

.box-012 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: -20px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid black
}

/* section 2 */
.flex-container-02 {
  display: flex;
}

.box-020 {
  background-color: white;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid #000;
}

.box-021 {
  background-color: white;
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  margin-left: -40px;
  margin-right: -20px;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid white
}

.box-022 {
  background-color: white;
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  margin-left: -20px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid #000
}

.box-023 {
  background-color: white;
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  margin-left: -40px;
  margin-right: -20px;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid white
}

/* section 3 */
.flex-container-03 {
  display: flex;
}

.box-030 {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid #000;
}

.box-031 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: -40px;
  margin-right: -20px;
  margin-top: 70px;
  margin-bottom: -10px;
  padding: 10px;
  border: 20px solid white
}

.box-032 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: -20px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid #000
}

.flex-container-04 {
  display: flex;
}

.box-040 {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  margin-left: 40px;
  margin-right: 0px;
  margin-top: -70px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid white
}

.box-041 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: -70px;
  margin-right: -20px;
  margin-top: -40px;
  margin-bottom: -20px;
  padding: 10px;
  border: 20px solid #000
}

.box-042 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: 0px;
  margin-right: 60px;
  margin-top: -50px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid white
}

.flex-container-05 {
  display: flex;
}

.box-050 {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  margin-left: 20px;
  margin-right: -40px;
  margin-top: -50px;
  margin-bottom: 0px;
  padding: 1s0px;
  border: 20px solid #000;
}

.box-051 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: 0px;
  margin-right: -80px;
  margin-top: -80px;
  margin-bottom: 40px;
  padding: 10px;
  border: 20px solid white
}

.box-052 {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin-left: 50px;
  margin-right: auto;
  margin-top: -60px;
  margin-bottom: 0px;
  padding: 10px;
  border: 20px solid #000
}

/* section 4 */
.flex-container-06 {
  display: flex;
}

.box-060 {
  background-color: white;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  margin-left: -30px;
  margin-right: -20px;
  margin-top: 100px;
  margin-bottom: 0px;
  padding: 1s0px;
  border: 20px solid white
}

.box-061 {
  background-color: white;
  position: relative;
  width: 600px;
  height: 300px;
  display: flex;
  margin-left: 0px;
  margin-right: -80px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 10px;
  border: 20px solid #000
}

#canvas-container1 {
  background-image: url(project-b-template/back.jpg);
  background-size: cover;
  filter: grayscale(100%);
}

.test {
  overflow: hidden;
}

.dial {
  position: absolute;
  display: none;
}

#dial-01 {
  width: 200px;
  height: 250px;
  top: 100px;
  left: 100px;
  border: 5px solid yellow;
  background-color: aqua;
  font-family: Smooch;
  font-size: xx-large;
}

#dial-02 {
  width: 200px;
  height: 75px;
  top: 50px;
  left: 800px;
  border: 5px solid firebrick;
  background-color: yellow;
  font-family: Kalam;
}

#dial-03 {
  width: 200px;
  height: 80px;
  top: 100px;
  right: 100px;
  border: 5px solid yellow;
  background-color: pink;
  font-family: Ephesis;
  font-size: xx-large;
}

#dial-04 {
  width: 100px;
  height: 80px;
  top: 600px;
  left: 300px;
  border: 5px solid cornflowerblue;
  background-color: aquamarine;
  font-family: Courgette;
  font-size: larger;
}

#dial-05 {
  width: 100px;
  height: 80px;
  top: 490px;
  left: 700px;
  border: 5px solid black;
  background-color: lightgray;
  font-family: Orbitron;
}

#dial-06 {
  width: 100px;
  height: 80px;
  top: 470px;
  left: 930px;
  border: 5px solid black;
  background-color: white;
  font-family: Dhurjati;
}

#dial-07 {
  width: 200px;
  height: 80px;
  top: 700px;
  right: 160px;
  border: 5px solid darkviolet;
  background-color: yellow;
  font-family: Zeyada;
  font-size: larger;
}

#dial-08 {
  width: 150px;
  height: 75px;
  top: 930px;
  left: 200px;
  border: 5px solid gray;
  background-color: rgb(190, 181, 140);
}

#dial-09 {
  width: 200px;
  height: 55px;
  top: 820px;
  left: 765px;
  border: 5px solid white;
  background-color: black;
  color: white;
  font-family: Righteous;
}

#dial-10 {
  width: 200px;
  height: 70px;
  top: 830px;
  right: 200px;
  border: 5px solid rgb(21, 255, 0);
  background-color: rgb(255, 98, 0);
  font-family: Acme;
  font-size: larger;
}

#dial-11 {
  width: 150px;
  height: 70px;
  top: 1190px;
  left: 245px;
  border: 5px solid rgb(67, 67, 255);
  background-color: rgb(205, 58, 219);
  color: white;
  font-family: Questrial;
}

#dial-12 {
  width: 150px;
  height: 70px;
  top: 1150px;
  left: 780px;
  border: 5px solid darkgoldenrod;
  background-color: burlywood;
  font-family: Lobster;
  font-size: larger;
}

#dial-13 {
  width: 150px;
  height: 70px;
  top: 1200px;
  right: 300px;
  border: 5px solid black;
  background-color: khaki;
  font-family: Zeyada;
  font-size: x-large;
}

#dial-14 {
  width: 200px;
  height: 75px;
  top: 1700px;
  left: 180px;
  border: 5px solid rgb(255, 153, 0);
  background-color: yellow;
}

#dial-15 {
  width: 150px;
  height: 90px;
  top: 1385px;
  left: 810px;
  border: 5px solid rgb(4, 0, 255);
  background-color: rgb(255, 0, 255);
  color: yellow;
  font-family: Sacramento;
  font-size: xx-large;
}

#dial-16 {
  width: 200px;
  height: 75px;
  top: 1450px;
  right: 200px;
  border: 5px solid rgb(64, 102, 185);
  background-color: rgb(229, 229, 209);
  font-family: Orbitron;
}

#dial-17 {
  width: 180px;
  height: 50px;
  top: 1900px;
  left: 480px;
  border: 5px solid white;
  background-color: black;
  color: white;
  font-family: Acme;
}

#dial-18 {
  width: 200px;
  height: 50px;
  top: 1960px;
  right: 200px;
  border: 5px solid black;
  background-color: rgb(173, 164, 164);
  font-family: Righteous;
}


iframe {
  border-width: 0;
}